<%= link_to "New" , new_entry_path %>

<div>
  <% @entries.each do |entry|
  %>
    <h3>
      <%= entry.title %>
    </h3>
    <span>
        <%= entry.date %>
      </span>
    <p>
      <%= entry.contents %>
    </p>

    <%= link_to "Edit" , edit_entry_path(entry) %>
    <%= link_to "Destroy" , entry_path(entry), method: :delete %>

  <% end %>
  </p>
</div>
